@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@

@* Param List *@ 
@(message: String)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/style.css")">
    <title>Home Page</title>
</head>
<body>
    <h1>The Home Page</h1>
    <h2>@message</h2>
    <h3>email@@me.com</h3>

</body>
</html>
